.block_add {
    width: 100px;
    height: 30px;
    border: 0;
    background: none;
    margin-top: 15px;
    padding: 0;
    color: #a5aebe;
    cursor: pointer;
}

.block_add.active {
    color: #5e6c84;
    cursor: pointer;
}

.block_add.active:hover {
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
}
