.header {
    background-color: #0067a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.18;

    color: #ffffff;
}

.user-menu {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px) {
    .header {
        padding: 10px;
        padding: auto;
        justify-content: flex-end;
        background-color: #0079bf;
    }
    .title {
        display: none;
    }

}