/* Kanban board styles */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.17;
}

/* div {
  border: 1px dashed red ;
} */

.app {
  background-color: #0079bf; 
  height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-rows: 55px 1fr 55px;
}


.container {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  height: calc(100vh - 110px);
} 



@media (max-width: 1000px) {
  * {
      font-size: 18px;
  }
  .app {
      display: block;
      min-height: 100vh;
      height: auto;
  }
  .container {
      display: block;
      width: auto;
      height: auto;
      margin: 20px 35px 20px 20px;
  }

}
